<div tree data="data" options="dataOptions" links="links">

</div>
<div class="widget">
    <div class="widget-header">
        <h3>Selected property</h3>
        <span class="select-icon widget-drop"></span>
        <div style="clear:both;"></div>
    </div>
    <div class="widget-content">
        <div d3bar data="barItems" id="bar" >

        </div>
    </div>
</div>

<!--<div class="widget">
    <div class="widget-header">
        <h3>Pie chart</h3>
        <span class="select-icon widget-drop"></span>
        <div style="clear:both;"></div>
    </div>
    <div class="widget-content">
        <div d3pie data="items" id="pies" >

        </div>

    </div>
</div><!--
<div class="widget">
    <div class="widget-header">
        <h3>Map</h3>
        <span class="select-icon widget-drop" style="position:relative;">
            <div class="share mrl" style="width:150px; position:absolute;left:-90px;top:50px;padding:10px;">
                <ul>
                    <li>Bar</li>
                    <li>Line</li>
                    <li>Pie</li>
                    <li>Guage</li>
                </ul>
            </div>
        </span>
        <div style="clear:both;"></div>
    </div>
    <div class="widget-content">
        <!--<div id="map" data="items" map options="mapOptions"></div>
        <span ng-repeat="item in items"  data="item" id="lander" gauge></span>
    </div>
</div>-->
<!--<div class="widget-2x" style="height:98%;">
    <div class="widget-header">
        <h3>Bar Chart</h3>
        <span class="select-icon widget-drop"></span>
        <div style="clear:both;"></div>
    </div>
    <div class="widget-content">
        <div id="map" data="items" map options="mapOptions"></div>
    </div>
</div>
<!--<div class="widget-2x" style="height:98%;">
    <div class="widget-header">
        <h3>Multiline Chart</h3>
        <span class="select-icon widget-drop"></span>
        <div style="clear:both;"></div>
    </div>
    <div class="widget-content">
        <div id="multiline" data="items" multiline options="mapOptions"></div>
    </div>
</div>-->
<!--<div class="widget-2x" style="height:98%;">
    <div class="widget-header">
        <h3>Traffic lights Chart</h3>
        <span class="select-icon widget-drop"></span>
        <div style="clear:both;"></div>
    </div>
    <div class="widget-content">
        <div ng-repeat="item in items" id="traffic" data="item" traffic style="width : 100px;height:200px;background-color:#34495e;float:left;margin:10px;">

        </div>

    </div>
</div>-->

<!--<div class="tooltip fade top in" style="display: none;left:{{popupleft}}px;top:{{popuptop}}px;" ng-show="popupshow">
    <div class="tooltip-arrow" style=""></div>
    <div class="tooltip-inner">{{popupdescription}}</div>
</div>-->
