<nav xmlns="http://www.w3.org/1999/html" >


            <ul>
                <li class="active"><span class="fui-menu-24"></span><span class="menu-text">Home</span></li>
                <li class=""><span class="fui-video-24"></span><span class="menu-text">Player</span></li>
                <li class=""><span class="fui-new-24"></span> <span class="menu-text">Statistics</span></li>
                <li class=""><span class="fui-calendar-24"></span><span class="menu-text">Settings</span></li>
                <li class=""><span class="fui-man-24"></span><span class="menu-text">About</span></li>
            </ul>






                <ul style="position:absolute;bottom:0px;" class="player-icons" >
                    <li class="active"><i class="icon-play"></i><span class="menu-text">Play</span></li>
                    <li class=""><i class="icon-step-forward"></i><span class="menu-text">Pause</span></li>
                    <li class=""><i class="icon-pause"></i><span class="menu-text">Pause</span></li>
                    <li class=""><i class="icon-stop"></i> <span class="menu-text">Stop</span></li>
                </ul>

</nav>